@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-cover{
  height: 440px;
}

@media only screen and (max-width: 324px) {
  .image-cover{
    height: 200px;
  }
}

@media only screen and (min-width: 325px)  and (max-width: 600px) {
  .image-cover{
    height: 240px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-cover{
    height: 245px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .image-cover{
    height: 330px;
  }
}

.custom-loader {
    width:100px;
    height:100px;
    border-radius:50%;
    padding:6px;
    background: 
      radial-gradient(farthest-side,#b434eb 95%,#0000) 50% 0/24px 24px no-repeat,
      radial-gradient(farthest-side,#0000 calc(100% - 10px),#ffc639 calc(100% - 8px)) content-box;
    animation:s6 1s infinite ;
}
@keyframes s6 {to{transform: rotate(1turn)}}